{% extends 'chess/base.html' %}

{% block title %}Chess tournament{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Manage tournament: <a href="{% url 'tournament_detail' pk=object.tournament.pk %}">{{object.tournament}}</a> round {{object.serial_number}}</h2>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
               <b>Pairs</b>
            </div>
            <div class="panel-body">
                {% for pair in pairs %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <div class="caption">
                                <h3>Pair {{ pair.serial_number }}</h3>
                                <p>White: <b>{{ pair.white }}</b></p>
                                <p>Black: <b>{{ pair.black }}</b></p>
                                {% if pair.winner == None %}
                                    <div class="btn-group">
                                       <form method="post" action="{% url 'pair_update' pk=pair.id %}">
                                            {% csrf_token %}
                                            <input class="hidden" id="id_winner" name="winner" value="0">
                                            <button class="btn btn-primary" type="submit">White</button>
                                        </form>
                                    </div>
                                    <div class="btn-group">
                                       <form method="post" action="{% url 'pair_update' pk=pair.id %}">
                                            {% csrf_token %}
                                            <input class="hidden" id="id_winner" name="winner" value="1">
                                            <button class="btn btn-success" type="submit">Black</button>
                                        </form>
                                    </div>
                                     <div class="btn-group">
                                       <form method="post" action="{% url 'pair_update' pk=pair.id %}">
                                            {% csrf_token %}
                                            <input class="hidden" id="id_winner" name="winner" value="2">
                                            <button class="btn btn-info" type="submit">Draw</button>
                                        </form>
                                    </div>
                                {% else %}
                                    <h3>Winner: {% if pair.winner == 0 %} {{ pair.white }} {% elif pair.winner == 1 %} {{ pair.black }} {% else %}Draw{% endif %}</h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
