{% extends 'chess/base.html' %}

{% block title %}Chess tournament{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h2>Manage tournament: {{object.name}}</h2>
        </div>
        <div class="row">
            {% if players.count > 1%}
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <b>Rounds</b>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-9">
                            <p>Count of rounds: {{ object.count_rounds|floatformat:"0" }}</p>
                        </div>
                        <div class="col-lg-3">
                            {% if not object.in_progress %}
                            <form method="get" action="{% url 'round_create' %}">
                                {{ round_form.tournament }}
                                <button class="btn btn-primary" type="submit">{% if rounds.count %}New round{% else %}Start tournament{% endif %}</button>
                            </form>
                            {% endif %}
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Progress</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for round in rounds %}
                                    <tr>
                                        <td>{{ round.serial_number }}</td>
                                        <td>{{ round.progress }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url 'round_detail' pk=round.id %}" class="btn btn-primary btn-xs" role="button">Update</a>
                                            </div>
                                             <div class="btn-group">
                                               <form method="post" action="{% url 'round_delete' pk=round.id %}">
                                                    {% csrf_token %}
                                                    <input class="hidden" value="DELETE">
                                                    <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
            {% endif %}
            <div class="col-lg-6">
                {% if rounds.count == 0 %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                           <b>Add players</b>
                        </div>
                        <div class="panel-body">
                            <form class="form-horizontal" role="form" action="{% url 'player_create' %}" method="post">
                                {% csrf_token %}
                                {% for field in player_form %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                        <div class="form-group {% if field.errors %} has-error {% endif %}">
                                            <label class="col-sm-2 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            <div class="col-sm-10">
                                              {{ field }}
                                              <span class="alert-danger">{{ field.errors }}</span>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-primary" type="submit">Add</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    {% endif %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                       <b>Players</b>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for player in players %}
                                    <tr>
                                        <td>{{player.name}}</td>
                                        <td>{{player.rating}}</td>
                                        <td>
                                            {% if rounds.count == 0 %}
                                                <form method="post" action="{% url 'player_delete' pk=player.id %}">
                                                    {% csrf_token %}
                                                    <input class="hidden" value="DELETE">
                                                    <button class="btn btn-danger btn-xs" type="submit">Delete</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
               </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}
